@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.6;
}
html, body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: black;
    padding: 20px;
}

p.caption {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: black;
    font-style: italic;
}

.pfp {
    width: 250px;
    height: 250px;
    border: 20px solid red;
    border-radius: 50%;
    background-image: url(./../img/ralph-with-little-girl.webp);
    background-repeat: no-repeat;
    background-position: -121px 0px;
    background-size: 191%;
    margin: 0 auto 0 auto;
}

@media (max-width: 600px) {
    .pfp {
        width: 150px;
        height: 150px;
        background-size: 178%;
        background-position: -63px 0px;
    }   
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  margin: 10px 0 20px 0;
  color: red;
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
   font-family: "Pixelify Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 50px;
   margin: 20px 0 10px 0;
   color: black;
}

@media (max-width: 600px) {
    h2 {
        font-size: 40px;
    }
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img {
    max-width: 100%;
}

a {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color:aliceblue
}

a:visited {
    color:purple;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
}

footer .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    footer p {
        font-size: 16px;
    }
}