@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: lightslategray;
}
html, body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: black;
    padding: 20px;
}

header .pfp {
    width: 300px;
    height: 300px;
    border: 20px solid red;
    border-radius: 50%;
    background-image: url(./../img/ralph-with-little-girl.webp);
    background-repeat: no-repeat;
    background-position: -170px -40px;
    background-size: 200%;
    margin: 0 auto 0 auto;
}

header h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 10px 0 20px 0;
  color: red;
}